Cython
numpy
appdirs
audioread
bidict
Brotli
certifi
cffi
chardet
charset-normalizer
click
#dbus-python
decorator
dnspython
eventlet
ffmpeg-python
Flask
Flask-Compress
Flask-SocketIO
greenlet
idna
itsdangerous
Jinja2
joblib
librosa
llvmlite
MarkupSafe
mido
monotonic
mpmath
mutagen
numba
numpy==1.26.4
packaging
pooch
pycparser
pycryptodomex
#PyGObject
pyparsing
python-engineio
python-socketio
#pyxattr
requests
#resampy==0.2.2
resampy
scikit-learn
scipy
six
SoundFile
sympy
threadpoolctl
urllib3
websockets
Werkzeug
#youtube-dl
yt-dlp
