audioread
certifi
cffi
chardet
Click
decorator
dnspython
eventlet
Flask
Flask-Compress
Flask-SocketIO
greenlet
idna
itsdangerous
Jinja2
joblib
llvmlite
MarkupSafe
monotonic
numba
numpy
pycparser
python-engineio
python-socketio
requests
resampy
scikit-learn
scipy
six
SoundFile
urllib3
Werkzeug
youtube-dl
