Cython
numpy==1.26.4
appdirs
audioread
bidict
Brotli
certifi
cffi
chardet
charset-normalizer
click
decorator
dnspython
eventlet
ffmpeg-python
Flask
Flask-Compress
Flask-SocketIO
greenlet
idna
itsdangerous
Jinja2
joblib
librosa
llvmlite
MarkupSafe
mido
monotonic
mpmath
mutagen
numba
packaging
pooch
pycparser
pycryptodomex
pyparsing
python-engineio
python-socketio
requests
resampy
scikit-learn
scipy
six
SoundFile
sympy
threadpoolctl
urllib3
websockets
Werkzeug
yt-dlp
